.card_container {
    border: 4px inset white;
    box-shadow: inset 20px 20px 60px #c5c5c5, 
                inset -20px -20px 60px #ffffff; 
    border-radius: 1.5rem;
    padding-bottom: 0;
    position: relative;
}

/* .card_container:hover {
    transform: translateY(-5px);
    transition: all .5s ease-in-out;
} */

.card_content {
    height: 190px !important;
    padding: 30px 5px !important;
}

.card_btn_container {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_btn_viewRecipe {
    width: 150px;
    padding: 8px 16px !important;
    font-size: 15px;
    margin-left: 6px;
    background-color: rgb(0, 132, 255) !important;
    border: 2px solid rgb(0, 132, 255);
    border-radius: 5px;
    color: white !important;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: all ease 300ms;
}

.card_btn_viewRecipe:hover {  
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 132, 255) !important;
}

@media screen and (max-width: 700px) {
    .card_container {
        margin: 20px auto;
    }
}
